In [43]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [12]:
spark = SparkSession.builder.master('local[*]').appName('Len of Names_SQL').getOrCreate()
sc=spark.sparkContext

In [13]:
listOfNames = ['ali','reza','behzad','vahid','mina','ava','zahra','saeed','afsane','sara','homa','hana','davood','aysa','mahboobe','kazem','bahare','mahshid','farid','milad','mahvash','parivash']

In [14]:
names_rdd = sc.parallelize(listOfNames)

In [16]:
names_rdd.collect()

['ali',
 'reza',
 'behzad',
 'vahid',
 'mina',
 'ava',
 'zahra',
 'saeed',
 'afsane',
 'sara',
 'homa',
 'hana',
 'davood',
 'aysa',
 'mahboobe',
 'kazem',
 'bahare',
 'mahshid',
 'farid',
 'milad',
 'mahvash',
 'parivash']

In [17]:
tmp_rdd = names_rdd.map(lambda x : Row(names = x))

In [18]:
tmp_rdd.collect()

[Row(names='ali'),
 Row(names='reza'),
 Row(names='behzad'),
 Row(names='vahid'),
 Row(names='mina'),
 Row(names='ava'),
 Row(names='zahra'),
 Row(names='saeed'),
 Row(names='afsane'),
 Row(names='sara'),
 Row(names='homa'),
 Row(names='hana'),
 Row(names='davood'),
 Row(names='aysa'),
 Row(names='mahboobe'),
 Row(names='kazem'),
 Row(names='bahare'),
 Row(names='mahshid'),
 Row(names='farid'),
 Row(names='milad'),
 Row(names='mahvash'),
 Row(names='parivash')]

In [19]:
names_df = spark.createDataFrame(tmp_rdd)

In [20]:
names_df.printSchema()

root
 |-- names: string (nullable = true)

In [22]:
names_df.show(30)

+--------+
|   names|
+--------+
|     ali|
|    reza|
|  behzad|
|   vahid|
|    mina|
|     ava|
|   zahra|
|   saeed|
|  afsane|
|    sara|
|    homa|
|    hana|
|  davood|
|    aysa|
|mahboobe|
|   kazem|
|  bahare|
| mahshid|
|   farid|
|   milad|
| mahvash|
|parivash|
+--------+

In [52]:
names_df.withColumn('lenOfNames', length('names')).groupBy('lenOfNames').agg(collect_list('names').alias('names')).orderBy('lenOfNames').show(10,truncate=False)

+----------+------------------------------------------+
|lenOfNames|names                                     |
+----------+------------------------------------------+
|3         |[ali, ava]                                |
|4         |[reza, mina, sara, homa, hana, aysa]      |
|5         |[vahid, zahra, saeed, kazem, farid, milad]|
|6         |[behzad, afsane, davood, bahare]          |
|7         |[mahshid, mahvash]                        |
|8         |[mahboobe, parivash]                      |
+----------+------------------------------------------+