In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').appName('Passengers_SQL').getOrCreate()

In [3]:
passengers_df = spark.read.csv('/content/lax_passengers_header.csv', sep=',', header=True, inferSchema=True)

In [4]:
passengers_df.printSchema()

root
 |-- DataExtractDate: string (nullable = true)
 |-- ReportPeriod: string (nullable = true)
 |-- Terminal: string (nullable = true)
 |-- Arrival_Departure: string (nullable = true)
 |-- Domestic_International: string (nullable = true)
 |-- Passenger_Count: integer (nullable = true)

In [5]:
passengers_df.show(10)

+--------------------+--------------------+-----------------+-----------------+----------------------+---------------+
|     DataExtractDate|        ReportPeriod|         Terminal|Arrival_Departure|Domestic_International|Passenger_Count|
+--------------------+--------------------+-----------------+-----------------+----------------------+---------------+
|05/01/2014 12:00:...|01/01/2006 12:00:...|Imperial Terminal|          Arrival|              Domestic|            490|
|05/01/2014 12:00:...|01/01/2006 12:00:...|Imperial Terminal|        Departure|              Domestic|            498|
|05/01/2014 12:00:...|01/01/2006 12:00:...|   Misc. Terminal|          Arrival|              Domestic|            753|
|05/01/2014 12:00:...|01/01/2006 12:00:...|   Misc. Terminal|        Departure|              Domestic|            688|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 1|          Arrival|              Domestic|         401535|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 1|        Departure|              Domestic|         389745|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 1|        Departure|         International|            561|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 2|          Arrival|              Domestic|          98991|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 2|          Arrival|         International|         163067|
|05/01/2014 12:00:...|01/01/2006 12:00:...|       Terminal 2|        Departure|              Domestic|          93672|
+--------------------+--------------------+-----------------+-----------------+----------------------+---------------+
only showing top 10 rows

In [6]:
passengers_df.createOrReplaceTempView('Passengers')

In [7]:
spark.sql('SELECT DISTINCT Terminal FROM Passengers').show(20,truncate=False)

+----------------------------------+
|Terminal                          |
+----------------------------------+
|Terminal 6                        |
|Terminal 8                        |
|Imperial Terminal                 |
|Terminal 3                        |
|Terminal 2                        |
|Tom Bradley International Terminal|
|Terminal 4                        |
|Terminal 5                        |
|Terminal 1                        |
|Misc. Terminal                    |
|Terminal 7                        |
+----------------------------------+

In [20]:
Query="""SELECT CONCAT(SUBSTRING(ReportPeriod,0,3),SUBSTRING(ReportPeriod,7,4)) ReportPeriod,SUM(Passenger_Count) Passenger_Count
         FROM Passengers
         WHERE Terminal IN ("Terminal 1","Terminal 2","Terminal 3","Terminal 4",
                             "Terminal 5","Terminal 6","Terminal 7","Terminal 8","Tom Bradley International Terminal")
         GROUP BY CONCAT(SUBSTRING(ReportPeriod,0,3),SUBSTRING(ReportPeriod,7,4))
         HAVING SUM(Passenger_Count)>5000000
         ORDER BY SUBSTRING(ReportPeriod,7,4)
      """
spark.sql(Query).show(100)

+------------+---------------+
|ReportPeriod|Passenger_Count|
+------------+---------------+
|     12/2010|        5045354|
|     07/2010|        5692210|
|     06/2010|        5311142|
|     08/2010|        5617610|
|     08/2011|        5918484|
|     04/2011|        5028056|
|     05/2011|        5476704|
|     10/2011|        5124462|
|     06/2011|        5631602|
|     07/2011|        6071335|
|     12/2011|        5025839|
|     04/2012|        5160973|
|     09/2012|        5053923|
|     06/2012|        5739649|
|     03/2012|        5252277|
|     05/2012|        5412646|
|     10/2012|        5190645|
|     12/2012|        5176037|
|     07/2012|        6190236|
|     08/2012|        6093051|
|     10/2013|        5386378|
|     12/2013|        5606038|
|     09/2013|        5159762|
|     08/2013|        6160839|
|     03/2013|        5385531|
|     07/2013|        6292610|
|     05/2013|        5557314|
|     06/2013|        5947409|
|     04/2013|        5157963|
|     04/2014|        5614336|
|     03/2014|        5622137|
|     01/2014|        5263473|
|     12/2014|        5825265|
|     08/2014|        6595721|
|     05/2014|        5925513|
|     06/2014|        6373135|
|     09/2014|        5478410|
|     11/2014|        5288012|
|     10/2014|        5766258|
|     07/2014|        6709940|
|     12/2015|        6196206|
|     09/2015|        5852619|
|     10/2015|        6183076|
|     04/2015|        5746373|
|     03/2015|        5916774|
|     11/2015|        5838539|
|     05/2015|        6148998|
|     06/2015|        6579357|
|     01/2015|        5339983|
|     07/2015|        7063573|
|     08/2015|        6902789|
|     04/2016|        6109205|
|     03/2006|        5088556|
|     10/2016|        6629325|
|     07/2016|        7621225|
|     11/2016|        6272290|
|     09/2016|        6375328|
|     12/2016|        6640915|
|     01/2016|        5869759|
|     05/2006|        5176330|
|     06/2016|        7230571|
|     04/2006|        5085946|
|     03/2016|        6277897|
|     08/2016|        7344648|
|     06/2006|        5509853|
|     08/2006|        5745000|
|     07/2006|        5919529|
|     02/2016|        5280381|
|     12/2006|        5070491|
|     05/2016|        6571091|
|     04/2017|        6640015|
|     03/2007|        5240144|
|     01/2017|        6213892|
|     06/2017|        7470964|
|     06/2007|        5626291|
|     10/2007|        5069354|
|     07/2017|        7910993|
|     04/2007|        5172120|
|     07/2007|        6052466|
|     12/2007|        5186354|
|     02/2017|        5387511|
|     08/2017|        7674171|
|     05/2017|        6933026|
|     03/2017|        6525366|
|     08/2007|        5939540|
|     05/2007|        5256763|
|     03/2008|        5232233|
|     05/2008|        5247792|
|     06/2008|        5538956|
|     08/2008|        5714031|
|     07/2008|        5790776|
|     06/2009|        5040114|
|     08/2009|        5437347|
|     07/2009|        5603652|
+------------+---------------+